In [4]:
import numpy as np
import pandas as pd
ls = pd.read_csv("C:\\Users\\ANIL FULE\\Desktop\\Lok+Sabha_2019.csv")
print(ls)

      Unnamed: 0          STATE     CONSTITUENCY                    NAME  \
0              0      Telangana         ADILABAD          SOYAM BAPU RAO
1              1      Telangana         ADILABAD            Godam Nagesh
2              2      Telangana         ADILABAD           RATHOD RAMESH
3              4  Uttar Pradesh             AGRA   Satyapal Singh Baghel
4              5  Uttar Pradesh             AGRA        Manoj Kumar Soni
...          ...            ...              ...                     ...
2013        2257    Maharashtra  YAVATMAL-WASHIM  Vaishali Sudhakar Yede
2014        2258    Maharashtra  YAVATMAL-WASHIM      Anil Jayram Rathod
2015        2259      Telangana        ZAHIRABAD               B.B.PATIL
2016        2260      Telangana        ZAHIRABAD         MADAN MOHAN RAO
2017        2261      Telangana        ZAHIRABAD      BANALA LAXMA REDDY

      WINNER  PARTY    SYMBOL  GENDER  CRIMINAL CASES  AGE CATEGORY  \
0          1    BJP     Lotus    MALE            52.0   52       ST
1          0    TRS       Car    MALE             0.0   54       ST
2          0    INC      Hand    MALE             3.0   52       ST
3          1    BJP     Lotus    MALE             5.0   58       SC
4          0    BSP  Elephant    MALE             0.0   47       SC
...      ...    ...       ...     ...             ...  ...      ...
2013       0  PHJSP   Whistle  FEMALE             0.0   28  GENERAL
2014       0    IND      SHIP    MALE             0.0   43  GENERAL
2015       1    TRS       Car    MALE            18.0   63  GENERAL
2016       0    INC      Hand    MALE             0.0   49  GENERAL
2017       0    BJP     Lotus    MALE             3.0   47  GENERAL

          EDUCATION        ASSETS  LIABILITIES  GENERAL VOTES  POSTAL VOTES  \
0         12th Pass  3.099414e+06     231450.0         376892           482
1     Post Graduate  1.847789e+07     847000.0         318665           149
2         12th Pass  3.649100e+07   15300000.0         314057           181
3         Doctorate  7.427404e+07    8606522.0         644459          2416
4     Post Graduate  1.337844e+08   22251891.0         434199          1130
...             ...           ...          ...            ...           ...
2013      10th Pass  1.168500e+06       9000.0          20563            57
2014  Post Graduate  4.890000e+06    1020000.0          14661            25
2015       Graduate  1.287852e+09   11535000.0         434066           178
2016  Post Graduate  9.036630e+08          0.0         427900           115
2017      12th Pass  5.857733e+07    5250000.0         138731           216

      TOTAL VOTES  OVER TOTAL ELECTORS IN CONSTITUENCY  \
0          377374                            25.330684
1          318814                            21.399929
2          314238                            21.092771
3          646875                            33.383823
4          435329                            22.466390
...           ...                                  ...
2013        20620                             1.076097
2014        14686                             0.766419
2015       434244                            28.975369
2016       428015                            28.559732
2017       138947                             9.271379

      OVER TOTAL VOTES POLLED IN CONSTITUENCY  TOTAL ELECTORS
0                                   35.468248         1489790
1                                   29.964370         1489790
2                                   29.534285         1489790
3                                   56.464615         1937690
4                                   37.999125         1937690
...                                       ...             ...
2013                                 1.755157         1916185
2014                                 1.250060         1916185
2015                                41.574183         1498666
2016                                40.977823         1498666
2017                                13.302678         1498666

[2018 rows x 20 columns]

In [7]:
ls['SYMBOL'].unique()

array(['Lotus', 'Car', 'Hand', 'Elephant', 'Clock', 'Cup & Saucer',
       'Coat', 'Hammer, Sickle and Star', 'Pot', 'Flowers and Grass',
       'Spade & Stoker', 'Bicycle', 'Ears of Corn And Sickle',
       'Ceiling Fan', 'Glass Tumbler', 'Spectacles', 'Walking Stick',
       'Spanner', 'Bow and Arrow', 'Whistle', 'Broom', 'Scales', 'Plough',
       'Ink Pot & Pen', 'Apple', 'Table', 'Helicopter', 'Rising Sun',
       'Mango', 'Gift Pack', 'Ganna Kisan', 'Battery Torch', 'Two Leaves',
       'Hurricane Lamp', 'Flag with Three Stars', 'Football', 'Saw',
       'Bangles', 'Maize', 'A lady farmer carrying paddy on her head',
       'Book', 'Cot', 'Conch', 'Kite', 'Telephone',
       'Tractor Chalata Kisan', 'Air Conditioner', 'CHESS BOARD',
       'Almirah', 'Balloon', 'Hand Pump', 'Bead Necklace',
       'Auto- Rickshaw', 'Gas Cylinder', 'DIAMOND', 'Key', 'Arrow',
       'FLUTE', 'Baby Walker', 'Black Board', 'Lion', 'Lock and Key',
       'Bow & Arrow', 'Plastering Trowel', 'SHIP', 'Pressure Cooker',
       'Ring', 'Chappals', 'Road Roller', 'Dolli', 'Sewing Machine',
       'Scissors', 'Truck', 'Nagara', 'Batsman', 'Throwing a Javelin',
       'Boat with Man and Sail', 'Pen Nib with Seven Rays', 'Stethoscope',
       'Television', 'Letter Box', 'Camera', 'Envelope', 'Banana', 'Comb',
       'Hand Cart', 'Cauliflower', 'Bungalow', 'Grapes', 'Bat',
       'Battery torch', 'Gramophone', 'Matchbox', 'Football Player',
       'CHAPATI ROLLER', 'Basket containing Fruits', 'Nangol', 'Tent',
       'HOCKEY & BALL', 'COCONUT FARM', 'BOX', 'Ladder',
       'Man Blowing Turha', 'Sitar', 'Star', 'Triangle', 'Tyres',
       'Water Melon', 'Globe', 'Gas Stove', 'Cock', 'BELT', 'BUCKET',
       'Mike', 'CUTTING PLIERS', 'Jug', 'Pan', 'Refrigerator', 'Tiller',
       'Chimney', 'Drum', 'Table Lamp', 'Umbrella', 'Mixee', 'Jackfruit',
       'Dao'], dtype=object)

In [8]:
ls['EDUCATION'].unique()

array(['12th Pass', 'Post Graduate', 'Doctorate', 'Graduate', 'Others',
       '10th Pass', '8th Pass', 'Graduate Professional', 'Literate',
       'Illiterate', '5th Pass', 'Not Available'], dtype=object)

In [9]:
ls['EDUCATION'].value_counts()

Post Graduate            503
Graduate                 441
Graduate Professional    336
12th Pass                256
10th Pass                196
8th Pass                  78
Doctorate                 73
Others                    50
Literate                  30
5th Pass                  28
Not Available             22
Illiterate                 5
Name: EDUCATION, dtype: int64

In [10]:
ls['PARTY'].unique()

array(['BJP', 'TRS', 'INC', 'BSP', 'NCP', 'VBA', 'APoI', 'CPI(M)', 'BDJS',
       'AITC', 'RSP', 'SP', 'YSRCP', 'TDP', 'JnP', 'INLD', 'SBSP', 'IND',
       'SHS', 'AAP', 'SAD', 'JKN', 'JKPDP', 'JPC', 'DMK', 'PMK', 'NTK',
       'MNM', 'AIADMK', 'RJD', 'CPI(ML)(L)', 'SSD', 'PPA', 'JD(S)',
       'NPEP', 'BMUP', 'BJD', 'AIMIM', 'HAMS', 'AHFBK', 'PPID', 'SPL',
       'ASDC', 'RLD', 'PSPL', 'JD(U)', 'BTP', 'AIFB', 'AGP', 'AIUDF',
       'ABSKP', 'PUNEKP', 'RTORP', 'JNJP', 'LTSP', 'RVNP', 'JANADIP',
       'SDPI', 'DMDK', 'ABGP', 'VCK', 'JMM', 'LIP', 'JDR', 'MOSP', 'MADP',
       'AJPR', 'PMP', 'BBMP', 'AJSUP', 'JVM', 'RMPOI', 'LJP', 'BJKVP',
       'SWP', 'NEINDP', 'RSPSR', 'ravp', 'RSOSP', 'BLSP', 'WPOI',
       'SUCI(C)', 'SJDD', 'ANC', 'JDL', 'VSIP', 'AAM', 'JKP', 'BOPF',
       'UPPL', 'CPIM', 'GGP', 'KEC(M)', 'KEC', 'JAPL', 'AKBMP', 'TJS',
       'IUML', 'BSCP', 'ADAL', 'BRPI', 'MNF', 'PRISMP', 'VPI', 'YKP',
       'NDPP', 'RLTP', 'RAHIS', 'NPF', 'BLSD', 'BVA', 'NAWPP', 'AINRC',
       'BNDl', 'MSHP', 'BARESP', 'BLRP', 'AIPF', 'WAP', 'VCSMP', 'SAD(M)',
       'UDP', 'SKM', 'SDF', 'PDP', 'JHP', 'TMC(M)', 'IPFT', 'JKNPP',
       'DSSP', 'AHNP', 'PHJSP'], dtype=object)

In [11]:
ls.mean()

Unnamed: 0                                 1.134744e+03
WINNER                                     2.670961e-01
CRIMINAL CASES                             1.469940e+00
AGE                                        5.227354e+01
ASSETS                                     1.331019e+08
LIABILITIES                                1.995616e+07
GENERAL VOTES                              2.911903e+05
POSTAL VOTES                               1.105111e+03
TOTAL VOTES                                2.922954e+05
OVER TOTAL ELECTORS IN CONSTITUENCY        1.759681e+01
OVER TOTAL VOTES POLLED IN CONSTITUENCY    2.580849e+01
TOTAL ELECTORS                             1.660261e+06
dtype: float64

In [12]:
ls.columns

Index(['Unnamed: 0', 'STATE', 'CONSTITUENCY', 'NAME', 'WINNER', 'PARTY',
       'SYMBOL', 'GENDER', 'CRIMINAL CASES', 'AGE', 'CATEGORY', 'EDUCATION',
       'ASSETS', 'LIABILITIES', 'GENERAL VOTES', 'POSTAL VOTES', 'TOTAL VOTES',
       'OVER TOTAL ELECTORS IN CONSTITUENCY',
       'OVER TOTAL VOTES POLLED IN CONSTITUENCY', 'TOTAL ELECTORS'],
      dtype='object')

In [13]:
winners = ls[ls['WINNER']!=0]
winners

,Unnamed: 0,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL CASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL VOTES,POSTAL VOTES,TOTAL VOTES,OVER TOTAL ELECTORS IN CONSTITUENCY,OVER TOTAL VOTES POLLED IN CONSTITUENCY,TOTAL ELECTORS
0,0,Telangana,ADILABAD,SOYAM BAPU RAO,1,BJP,Lotus,MALE,52.0,52,ST,12th Pass,3.099414e+06,231450.0,376892,482,377374,25.330684,35.468248,1489790
3,4,Uttar Pradesh,AGRA,Satyapal Singh Baghel,1,BJP,Lotus,MALE,5.0,58,SC,Doctorate,7.427404e+07,8606522.0,644459,2416,646875,33.383823,56.464615,1937690
6,7,Maharashtra,AHMADNAGAR,Dr. SUJAY RADHAKRISHNA VIKHEPATIL,1,BJP,Lotus,MALE,0.0,37,GENERAL,Doctorate,1.686646e+08,2623964.0,696961,7699,704660,37.856533,58.425159,1861396
9,10,Gujarat,AHMEDABAD EAST,Patel Hasmukhbhai Somabhai,1,BJP,Lotus,MALE,0.0,58,GENERAL,Others,7.469969e+07,6252577.0,745810,4024,749834,41.384970,67.005462,1811851
11,12,Gujarat,AHMEDABAD WEST,DR. KIRIT P. SOLANKI,1,BJP,Lotus,MALE,0.0,69,SC,Post Graduate,8.947404e+07,0.0,638241,3381,641622,39.044323,64.211450,1643317
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999,2243,Maharashtra,WARDHA,Ramdas Chandrabhanji Tadas,1,BJP,Lotus,MALE,0.0,65,GENERAL,10th Pass,6.580782e+07,8961387.0,575488,2876,578364,33.176713,53.918820,1743283
2003,2247,Kerala,WAYANAD,Rahul Gandhi,1,INC,Hand,MALE,5.0,48,GENERAL,Post Graduate,1.588771e+08,7201904.0,705034,1333,706367,51.951012,64.640694,1359679
2006,2250,NCT OF Delhi,WEST DELHI,PARVESH SAHIB SINGH VERMA,1,BJP,Lotus,MALE,0.0,41,GENERAL,Post Graduate,1.551950e+08,40097329.0,862058,3590,865648,36.499913,60.010593,2371644
2009,2253,Maharashtra,YAVATMAL-WASHIM,Bhavana Pundlikrao Gawali,1,SHS,Bow and Arrow,FEMALE,3.0,46,GENERAL,Graduate,9.687319e+07,7396250.0,540104,1994,542098,28.290483,46.142912,1916185
2015,2259,Telangana,ZAHIRABAD,B.B.PATIL,1,TRS,Car,MALE,18.0,63,GENERAL,Graduate,1.287852e+09,11535000.0,434066,178,434244,28.975369,41.574183,1498666

In [14]:
winners['PARTY'].unique()

array(['BJP', 'CPI(M)', 'INC', 'YSRCP', 'BSP', 'IND', 'JKN', 'DMK',
       'AITC', 'BJD', 'AIMIM', 'SP', 'JD(U)', 'NCP', 'SAD', 'SHS', 'TRS',
       'VCK', 'AIUDF', 'AJSUP', 'TDP', 'LJP', 'JD(S)', 'RSP', 'KEC(M)',
       'IUML', 'ADAL', 'MNF', 'NDPP', 'RLTP', 'NPF', 'JMM', 'AAP', 'SKM',
       'AIADMK', 'NPEP'], dtype=object)

In [15]:
winners['PARTY'].value_counts()

BJP       300
INC        52
DMK        23
YSRCP      22
AITC       22
SHS        18
JD(U)      16
BJD        11
BSP        11
TRS         9
LJP         6
CPI(M)      5
NCP         5
SP          5
IND         4
TDP         3
JKN         3
IUML        3
AIMIM       2
ADAL        2
SAD         2
AJSUP       1
NDPP        1
AAP         1
NPF         1
AIADMK      1
AIUDF       1
SKM         1
NPEP        1
JMM         1
RLTP        1
VCK         1
MNF         1
JD(S)       1
RSP         1
KEC(M)      1
Name: PARTY, dtype: int64

In [16]:
winners['PARTY'].head(n=5)

0     BJP
3     BJP
6     BJP
9     BJP
11    BJP
Name: PARTY, dtype: object

In [17]:
new = winners['PARTY'].value_counts()
new

BJP       300
INC        52
DMK        23
YSRCP      22
AITC       22
SHS        18
JD(U)      16
BJD        11
BSP        11
TRS         9
LJP         6
CPI(M)      5
NCP         5
SP          5
IND         4
TDP         3
JKN         3
IUML        3
AIMIM       2
ADAL        2
SAD         2
AJSUP       1
NDPP        1
AAP         1
NPF         1
AIADMK      1
AIUDF       1
SKM         1
NPEP        1
JMM         1
RLTP        1
VCK         1
MNF         1
JD(S)       1
RSP         1
KEC(M)      1
Name: PARTY, dtype: int64

In [19]:
new.head(n=5)

BJP      300
INC       52
DMK       23
YSRCP     22
AITC      22
Name: PARTY, dtype: int64

In [25]:
BJPr = ls[ls['PARTY'] == 'BJP']
BJPr

,Unnamed: 0,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL CASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL VOTES,POSTAL VOTES,TOTAL VOTES,OVER TOTAL ELECTORS IN CONSTITUENCY,OVER TOTAL VOTES POLLED IN CONSTITUENCY,TOTAL ELECTORS
0,0,Telangana,ADILABAD,SOYAM BAPU RAO,1,BJP,Lotus,MALE,52.0,52,ST,12th Pass,3099414.0,231450.0,376892,482,377374,25.330684,35.468248,1489790
3,4,Uttar Pradesh,AGRA,Satyapal Singh Baghel,1,BJP,Lotus,MALE,5.0,58,SC,Doctorate,74274036.0,8606522.0,644459,2416,646875,33.383823,56.464615,1937690
6,7,Maharashtra,AHMADNAGAR,Dr. SUJAY RADHAKRISHNA VIKHEPATIL,1,BJP,Lotus,MALE,0.0,37,GENERAL,Doctorate,168664576.0,2623964.0,696961,7699,704660,37.856533,58.425159,1861396
9,10,Gujarat,AHMEDABAD EAST,Patel Hasmukhbhai Somabhai,1,BJP,Lotus,MALE,0.0,58,GENERAL,Others,74699690.0,6252577.0,745810,4024,749834,41.384970,67.005462,1811851
11,12,Gujarat,AHMEDABAD WEST,DR. KIRIT P. SOLANKI,1,BJP,Lotus,MALE,0.0,69,SC,Post Graduate,89474039.0,0.0,638241,3381,641622,39.044323,64.211450,1643317
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1988,2229,Andhra Pradesh,VISAKHAPATNAM,DAGGUBATI PURANDESWARI,0,BJP,Lotus,FEMALE,0.0,58,GENERAL,Graduate,324038450.0,34949036.0,33430,462,33892,1.852731,2.733400,1829300
1996,2239,Telangana,WARANGAL,CHINTHA SAMBAMURTHY,0,BJP,Lotus,MALE,0.0,65,SC,12th Pass,2503100.0,660000.0,83455,322,83777,5.026308,7.891044,1666770
1999,2243,Maharashtra,WARDHA,Ramdas Chandrabhanji Tadas,1,BJP,Lotus,MALE,0.0,65,GENERAL,10th Pass,65807822.0,8961387.0,575488,2876,578364,33.176713,53.918820,1743283
2006,2250,NCT OF Delhi,WEST DELHI,PARVESH SAHIB SINGH VERMA,1,BJP,Lotus,MALE,0.0,41,GENERAL,Post Graduate,155195014.0,40097329.0,862058,3590,865648,36.499913,60.010593,2371644
2017,2261,Telangana,ZAHIRABAD,BANALA LAXMA REDDY,0,BJP,Lotus,MALE,3.0,47,GENERAL,12th Pass,58577327.0,5250000.0,138731,216,138947,9.271379,13.302678,1498666

In [27]:
BJPrm = BJPr[BJPr['GENDER'] == 'MALE']
BJPrm

,Unnamed: 0,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL CASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL VOTES,POSTAL VOTES,TOTAL VOTES,OVER TOTAL ELECTORS IN CONSTITUENCY,OVER TOTAL VOTES POLLED IN CONSTITUENCY,TOTAL ELECTORS
0,0,Telangana,ADILABAD,SOYAM BAPU RAO,1,BJP,Lotus,MALE,52.0,52,ST,12th Pass,3.099414e+06,231450.0,376892,482,377374,25.330684,35.468248,1489790
3,4,Uttar Pradesh,AGRA,Satyapal Singh Baghel,1,BJP,Lotus,MALE,5.0,58,SC,Doctorate,7.427404e+07,8606522.0,644459,2416,646875,33.383823,56.464615,1937690
6,7,Maharashtra,AHMADNAGAR,Dr. SUJAY RADHAKRISHNA VIKHEPATIL,1,BJP,Lotus,MALE,0.0,37,GENERAL,Doctorate,1.686646e+08,2623964.0,696961,7699,704660,37.856533,58.425159,1861396
9,10,Gujarat,AHMEDABAD EAST,Patel Hasmukhbhai Somabhai,1,BJP,Lotus,MALE,0.0,58,GENERAL,Others,7.469969e+07,6252577.0,745810,4024,749834,41.384970,67.005462,1811851
11,12,Gujarat,AHMEDABAD WEST,DR. KIRIT P. SOLANKI,1,BJP,Lotus,MALE,0.0,69,SC,Post Graduate,8.947404e+07,0.0,638241,3381,641622,39.044323,64.211450,1643317
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1972,2211,Andhra Pradesh,VIJAYAWADA,KILARU DILEEP,0,BJP,Lotus,MALE,0.0,48,GENERAL,Graduate Professional,1.369018e+09,4262122.0,18411,93,18504,1.119423,1.448142,1652994
1996,2239,Telangana,WARANGAL,CHINTHA SAMBAMURTHY,0,BJP,Lotus,MALE,0.0,65,SC,12th Pass,2.503100e+06,660000.0,83455,322,83777,5.026308,7.891044,1666770
1999,2243,Maharashtra,WARDHA,Ramdas Chandrabhanji Tadas,1,BJP,Lotus,MALE,0.0,65,GENERAL,10th Pass,6.580782e+07,8961387.0,575488,2876,578364,33.176713,53.918820,1743283
2006,2250,NCT OF Delhi,WEST DELHI,PARVESH SAHIB SINGH VERMA,1,BJP,Lotus,MALE,0.0,41,GENERAL,Post Graduate,1.551950e+08,40097329.0,862058,3590,865648,36.499913,60.010593,2371644
2017,2261,Telangana,ZAHIRABAD,BANALA LAXMA REDDY,0,BJP,Lotus,MALE,3.0,47,GENERAL,12th Pass,5.857733e+07,5250000.0,138731,216,138947,9.271379,13.302678,1498666

In [29]:
BJPmf = BJPr['GENDER'].value_counts()
BJPmf

MALE      366
FEMALE     54
Name: GENDER, dtype: int64

In [30]:
INCr = ls[ls['PARTY'] == 'INC']
INCmf = INCr['GENDER'].value_counts()
INCmf

MALE      359
FEMALE     54
Name: GENDER, dtype: int64

In [31]:
DMKr = ls[ls['PARTY'] == 'DMK']
DMKmf = DMKr['GENDER'].value_counts()
DMKmf

MALE      21
FEMALE     2
Name: GENDER, dtype: int64

In [32]:
YSRCPr = ls[ls['PARTY'] == 'YSRCP']
YSRCPmf = YSRCPr['GENDER'].value_counts()
YSRCPmf

MALE      21
FEMALE     4
Name: GENDER, dtype: int64

In [33]:
AITCr = ls[ls['PARTY'] == 'AITC']
AITCmf = AITCr['GENDER'].value_counts()
AITCmf

MALE      28
FEMALE    19
Name: GENDER, dtype: int64

In [34]:
BJPc = BJPr['CATEGORY'].value_counts()
BJPc

GENERAL    304
SC          62
ST          54
Name: CATEGORY, dtype: int64

In [35]:
INCc = INCr['CATEGORY'].value_counts()
INCc

GENERAL    291
SC          73
ST          49
Name: CATEGORY, dtype: int64

In [36]:
DMKc = DMKr['CATEGORY'].value_counts()
DMKc

GENERAL    19
SC          4
Name: CATEGORY, dtype: int64

In [37]:
YSRCPc = YSRCPr['CATEGORY'].value_counts()
YSRCPc

GENERAL    20
SC          4
ST          1
Name: CATEGORY, dtype: int64

In [38]:
AITCc = AITCr['CATEGORY'].value_counts()
AITCc

GENERAL    32
SC         10
ST          5
Name: CATEGORY, dtype: int64

In [43]:
BJPAVG = BJPr['AGE'].mean()
BJPAVG

54.04255319148936

In [44]:
INCAVG = INCr['AGE'].mean()
INCAVG

55.03147699757869

In [45]:
DMKAVG = DMKr['AGE'].mean()
DMKAVG

55.82608695652174

In [46]:
YSRCPAVG = YSRCPr['AGE'].mean()
YSRCPAVG

50.32

In [47]:
AITCAVG = AITCr['AGE'].mean()
AITCAVG

54.04255319148936

In [48]:
cons = ls['STATE'].value_counts()
cons

Uttar Pradesh                251
Bihar                        218
Tamil Nadu                   189
Maharashtra                  175
West Bengal                  173
Andhra Pradesh               101
Madhya Pradesh                93
Rajasthan                     74
Telangana                     74
Odisha                        73
Karnataka                     72
Gujarat                       69
Jharkhand                     65
Kerala                        63
Punjab                        53
Assam                         44
Haryana                       41
Chhattisgarh                  38
Jammu & Kashmir               28
NCT OF Delhi                  24
Uttarakhand                   14
Manipur                       10
Arunachal Pradesh             10
Himachal Pradesh               9
Tripura                        8
Goa                            6
Dadra & Nagar Haveli           6
Meghalaya                      6
Andaman & Nicobar Islands      5
Mizoram                        5
Sikkim                         4
Puducherry                     4
Chandigarh                     4
Lakshadweep                    3
Nagaland                       3
Daman & Diu                    3
Name: STATE, dtype: int64

In [49]:
cons.head(n=5)

Uttar Pradesh    251
Bihar            218
Tamil Nadu       189
Maharashtra      175
West Bengal      173
Name: STATE, dtype: int64

In [55]:
UPc = ls[ls['STATE'] == 'Uttar Pradesh']
UPAVG = UPc['CRIMINAL CASES'].mean()
UPAVG

1.7408906882591093

In [57]:
BRc = ls[ls['STATE'] == 'Bihar']
BRAVG = BRc['CRIMINAL CASES'].mean()
BRAVG

1.471698113207547

In [58]:
TNc = ls[ls['STATE'] == 'Tamil Nadu']
TNAVG = TNc['CRIMINAL CASES'].mean()
TNAVG

0.8846153846153846

In [59]:
MHc = ls[ls['STATE'] == 'Maharashtra']
MHAVG = MHc['CRIMINAL CASES'].mean()
MHAVG

1.7257142857142858

In [60]:
WBc = ls[ls['STATE'] == 'West Bengal']
WBAVG = WBc['CRIMINAL CASES'].mean()
WBAVG

1.7514450867052023

In [61]:
UPAS = UPc['ASSETS'].mean()
UPAS

152778869.1214575

In [62]:
BRAS = BRc['ASSETS'].mean()
BRAS

69936017.31132075

In [63]:
TNAS = TNc['ASSETS'].mean()
TNAS

139050747.15384614

In [64]:
MHAS = MHc['ASSETS'].mean()
MHAS

146162190.62285715

In [65]:
WBAS = WBc['ASSETS'].mean()
WBAS

26840526.57803468

In [67]:
WINAVG = winners['ASSETS'].mean()
WINAVG

209135673.3005566

In [68]:
losers = ls[ls['WINNER']!=1]
losers

,Unnamed: 0,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL CASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL VOTES,POSTAL VOTES,TOTAL VOTES,OVER TOTAL ELECTORS IN CONSTITUENCY,OVER TOTAL VOTES POLLED IN CONSTITUENCY,TOTAL ELECTORS
1,1,Telangana,ADILABAD,Godam Nagesh,0,TRS,Car,MALE,0.0,54,ST,Post Graduate,18477888.0,847000.0,318665,149,318814,21.399929,29.964370,1489790
2,2,Telangana,ADILABAD,RATHOD RAMESH,0,INC,Hand,MALE,3.0,52,ST,12th Pass,36491000.0,15300000.0,314057,181,314238,21.092771,29.534285,1489790
4,5,Uttar Pradesh,AGRA,Manoj Kumar Soni,0,BSP,Elephant,MALE,0.0,47,SC,Post Graduate,133784385.0,22251891.0,434199,1130,435329,22.466390,37.999125,1937690
5,6,Uttar Pradesh,AGRA,Preeta Harit,0,INC,Hand,FEMALE,0.0,54,SC,Post Graduate,55075753.0,0.0,44877,272,45149,2.330042,3.940979,1937690
7,8,Maharashtra,AHMADNAGAR,SANGRAM ARUNKAKA JAGTAP,0,NCP,Clock,MALE,1.0,34,GENERAL,Graduate,94488381.0,32549132.0,419364,3822,423186,22.734872,35.087431,1861396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012,2256,Maharashtra,YAVATMAL-WASHIM,Parashram Bhaosing Ade,0,IND,Tractor Chalata Kisan,MALE,0.0,64,GENERAL,Post Graduate,187301769.0,417919.0,24447,52,24499,1.278530,2.085334,1916185
2013,2257,Maharashtra,YAVATMAL-WASHIM,Vaishali Sudhakar Yede,0,PHJSP,Whistle,FEMALE,0.0,28,GENERAL,10th Pass,1168500.0,9000.0,20563,57,20620,1.076097,1.755157,1916185
2014,2258,Maharashtra,YAVATMAL-WASHIM,Anil Jayram Rathod,0,IND,SHIP,MALE,0.0,43,GENERAL,Post Graduate,4890000.0,1020000.0,14661,25,14686,0.766419,1.250060,1916185
2016,2260,Telangana,ZAHIRABAD,MADAN MOHAN RAO,0,INC,Hand,MALE,0.0,49,GENERAL,Post Graduate,903663001.0,0.0,427900,115,428015,28.559732,40.977823,1498666
2017,2261,Telangana,ZAHIRABAD,BANALA LAXMA REDDY,0,BJP,Lotus,MALE,3.0,47,GENERAL,12th Pass,58577327.0,5250000.0,138731,216,138947,9.271379,13.302678,1498666

In [69]:
LOSAVG = losers['ASSETS'].mean()
LOSAVG

104954788.82005495

In [70]:
r1 = WINAVG/LOSAVG
print(r1)

1.9926263074962671

In [71]:
WINAVG1 = winners['CRIMINAL CASES'].mean()
WINAVG1

1.9090909090909092

In [72]:
LOSAVG1 = losers['CRIMINAL CASES'].mean()
LOSAVG1

1.307481125600549

In [73]:
r2 = WINAVG1/LOSAVG1
print(r2)

1.4601288475304226

In [93]:
WINMALE = winners[(winners['GENDER'] == 'MALE')]
WINMALE

,Unnamed: 0,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL CASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL VOTES,POSTAL VOTES,TOTAL VOTES,OVER TOTAL ELECTORS IN CONSTITUENCY,OVER TOTAL VOTES POLLED IN CONSTITUENCY,TOTAL ELECTORS
0,0,Telangana,ADILABAD,SOYAM BAPU RAO,1,BJP,Lotus,MALE,52.0,52,ST,12th Pass,3.099414e+06,231450.0,376892,482,377374,25.330684,35.468248,1489790
3,4,Uttar Pradesh,AGRA,Satyapal Singh Baghel,1,BJP,Lotus,MALE,5.0,58,SC,Doctorate,7.427404e+07,8606522.0,644459,2416,646875,33.383823,56.464615,1937690
6,7,Maharashtra,AHMADNAGAR,Dr. SUJAY RADHAKRISHNA VIKHEPATIL,1,BJP,Lotus,MALE,0.0,37,GENERAL,Doctorate,1.686646e+08,2623964.0,696961,7699,704660,37.856533,58.425159,1861396
9,10,Gujarat,AHMEDABAD EAST,Patel Hasmukhbhai Somabhai,1,BJP,Lotus,MALE,0.0,58,GENERAL,Others,7.469969e+07,6252577.0,745810,4024,749834,41.384970,67.005462,1811851
11,12,Gujarat,AHMEDABAD WEST,DR. KIRIT P. SOLANKI,1,BJP,Lotus,MALE,0.0,69,SC,Post Graduate,8.947404e+07,0.0,638241,3381,641622,39.044323,64.211450,1643317
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,2237,Telangana,WARANGAL,DAYAKAR PASUNOORI,1,TRS,Car,MALE,0.0,51,SC,Graduate,2.488971e+07,1428227.0,612027,471,612498,36.747602,57.691829,1666770
1999,2243,Maharashtra,WARDHA,Ramdas Chandrabhanji Tadas,1,BJP,Lotus,MALE,0.0,65,GENERAL,10th Pass,6.580782e+07,8961387.0,575488,2876,578364,33.176713,53.918820,1743283
2003,2247,Kerala,WAYANAD,Rahul Gandhi,1,INC,Hand,MALE,5.0,48,GENERAL,Post Graduate,1.588771e+08,7201904.0,705034,1333,706367,51.951012,64.640694,1359679
2006,2250,NCT OF Delhi,WEST DELHI,PARVESH SAHIB SINGH VERMA,1,BJP,Lotus,MALE,0.0,41,GENERAL,Post Graduate,1.551950e+08,40097329.0,862058,3590,865648,36.499913,60.010593,2371644
2015,2259,Telangana,ZAHIRABAD,B.B.PATIL,1,TRS,Car,MALE,18.0,63,GENERAL,Graduate,1.287852e+09,11535000.0,434066,178,434244,28.975369,41.574183,1498666

In [96]:
tmale = WINMALE['GENDER'].value_counts()
tmale

MALE    463
Name: GENDER, dtype: int64

In [97]:
WINFEMALE = winners[(winners['GENDER'] != 'MALE')]
WINFEMALE

,Unnamed: 0,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL CASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL VOTES,POSTAL VOTES,TOTAL VOTES,OVER TOTAL ELECTORS IN CONSTITUENCY,OVER TOTAL VOTES POLLED IN CONSTITUENCY,TOTAL ELECTORS
27,29,Kerala,ALATHUR,RAMYA HARIDAS,1,INC,Hand,FEMALE,3.0,32,SC,10th Pass,1152816.0,0.0,532493,1322,533815,42.139053,52.366840,1266794
37,40,Uttar Pradesh,ALLAHABAD,Rita Bahuguna Joshi,1,BJP,Lotus,FEMALE,6.0,69,GENERAL,Doctorate,26919330.0,1600000.0,493204,1250,494454,28.811649,55.584546,1716160
47,51,Andhra Pradesh,AMALAPURAM,CHINTA ANURADHA,1,YSRCP,Ceiling Fan,FEMALE,0.0,46,SC,Graduate,85993362.0,2431407.0,482003,3955,485958,33.294920,39.337104,1459556
57,63,Uttar Pradesh,AMETHI,Smriti Irani,1,BJP,Lotus,FEMALE,0.0,43,GENERAL,12th Pass,111099609.0,0.0,467598,916,468514,26.871808,49.685669,1743515
59,65,Maharashtra,AMRAVATI,Navnit Ravi Rana,1,IND,Spanner,FEMALE,1.0,33,SC,10th Pass,124554656.0,70576979.0,507844,3103,510947,27.873521,45.872032,1833091
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1920,2154,Karnataka,UDUPI CHIKMAGALUR,SHOBHA KARANDLAJE,1,BJP,Lotus,FEMALE,3.0,52,GENERAL,Post Graduate,104872668.0,49936840.0,717482,1434,718916,47.490630,62.426332,1513806
1933,2168,West Bengal,ULUBERIA,SAJDA AHMED,1,AITC,Flowers and Grass,FEMALE,0.0,57,GENERAL,Graduate,28351569.0,5322615.0,694617,328,694945,43.030970,53.003920,1614988
1945,2181,Gujarat,VADODARA,RANJANBEN BHATT,1,BJP,Lotus,FEMALE,0.0,56,GENERAL,12th Pass,29426428.0,0.0,880905,2814,883719,49.235109,72.216434,1794896
1947,2184,Bihar,VAISHALI,Veena Devi (W/o Dinesh Prasad Singh),1,LJP,Bungalow,FEMALE,2.0,48,GENERAL,10th Pass,337284632.0,112089220.0,566707,1508,568215,32.731599,52.869455,1735983
2009,2253,Maharashtra,YAVATMAL-WASHIM,Bhavana Pundlikrao Gawali,1,SHS,Bow and Arrow,FEMALE,3.0,46,GENERAL,Graduate,96873189.0,7396250.0,540104,1994,542098,28.290483,46.142912,1916185

In [98]:
tfemale = WINFEMALE['GENDER'].value_counts()
tfemale

FEMALE    76
Name: GENDER, dtype: int64

In [99]:
LOSMALE1 = losers[(losers['GENDER'] == 'MALE')]
LOSMALE1

,Unnamed: 0,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL CASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL VOTES,POSTAL VOTES,TOTAL VOTES,OVER TOTAL ELECTORS IN CONSTITUENCY,OVER TOTAL VOTES POLLED IN CONSTITUENCY,TOTAL ELECTORS
1,1,Telangana,ADILABAD,Godam Nagesh,0,TRS,Car,MALE,0.0,54,ST,Post Graduate,18477888.0,847000.0,318665,149,318814,21.399929,29.964370,1489790
2,2,Telangana,ADILABAD,RATHOD RAMESH,0,INC,Hand,MALE,3.0,52,ST,12th Pass,36491000.0,15300000.0,314057,181,314238,21.092771,29.534285,1489790
4,5,Uttar Pradesh,AGRA,Manoj Kumar Soni,0,BSP,Elephant,MALE,0.0,47,SC,Post Graduate,133784385.0,22251891.0,434199,1130,435329,22.466390,37.999125,1937690
7,8,Maharashtra,AHMADNAGAR,SANGRAM ARUNKAKA JAGTAP,0,NCP,Clock,MALE,1.0,34,GENERAL,Graduate,94488381.0,32549132.0,419364,3822,423186,22.734872,35.087431,1861396
8,9,Maharashtra,AHMADNAGAR,SUDHAKAR LAXMAN AVHAD,0,VBA,Cup & Saucer,MALE,0.0,62,GENERAL,Graduate,13949000.0,1400000.0,31644,163,31807,1.708771,2.637200,1861396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2011,2255,Maharashtra,YAVATMAL-WASHIM,Pravin Govind Pawar,0,VBA,Cup & Saucer,MALE,0.0,37,GENERAL,Graduate Professional,46866958.0,65847040.0,93918,310,94228,4.917479,8.020606,1916185
2012,2256,Maharashtra,YAVATMAL-WASHIM,Parashram Bhaosing Ade,0,IND,Tractor Chalata Kisan,MALE,0.0,64,GENERAL,Post Graduate,187301769.0,417919.0,24447,52,24499,1.278530,2.085334,1916185
2014,2258,Maharashtra,YAVATMAL-WASHIM,Anil Jayram Rathod,0,IND,SHIP,MALE,0.0,43,GENERAL,Post Graduate,4890000.0,1020000.0,14661,25,14686,0.766419,1.250060,1916185
2016,2260,Telangana,ZAHIRABAD,MADAN MOHAN RAO,0,INC,Hand,MALE,0.0,49,GENERAL,Post Graduate,903663001.0,0.0,427900,115,428015,28.559732,40.977823,1498666
2017,2261,Telangana,ZAHIRABAD,BANALA LAXMA REDDY,0,BJP,Lotus,MALE,3.0,47,GENERAL,12th Pass,58577327.0,5250000.0,138731,216,138947,9.271379,13.302678,1498666

In [100]:
tmale1 = LOSMALE1['GENDER'].value_counts()
tmale1

MALE    1297
Name: GENDER, dtype: int64

In [101]:
LOSFEMALE1 = losers[(losers['GENDER'] != 'MALE')]
LOSFEMALE1

,Unnamed: 0,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL CASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL VOTES,POSTAL VOTES,TOTAL VOTES,OVER TOTAL ELECTORS IN CONSTITUENCY,OVER TOTAL VOTES POLLED IN CONSTITUENCY,TOTAL ELECTORS
5,6,Uttar Pradesh,AGRA,Preeta Harit,0,INC,Hand,FEMALE,0.0,54,SC,Post Graduate,55075753.0,0.0,44877,272,45149,2.330042,3.940979,1937690
10,11,Gujarat,AHMEDABAD EAST,Gitaben Patel,0,INC,Hand,FEMALE,6.0,38,GENERAL,10th Pass,40375418.0,3121888.0,312883,2621,315504,17.413352,28.193562,1811851
19,21,Uttar Pradesh,AKBARPUR,Nisha Sachan,0,BSP,Elephant,FEMALE,0.0,46,GENERAL,Post Graduate,134448979.0,13619617.0,304553,1587,306140,17.334033,29.819809,1766121
25,27,Kerala,ALAPPUZHA,Adv. SHANIMOL OSMAN,0,INC,Hand,FEMALE,0.0,52,GENERAL,Post Graduate,18665943.0,825000.0,433790,1706,435496,32.099630,39.949657,1356701
35,37,West Bengal,ALIPURDUARS,MILI ORAON,0,RSP,Spade & Stoker,FEMALE,0.0,42,ST,Post Graduate,2804955.0,304672.0,53859,151,54010,3.276544,3.910436,1648383
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1988,2229,Andhra Pradesh,VISAKHAPATNAM,DAGGUBATI PURANDESWARI,0,BJP,Lotus,FEMALE,0.0,58,GENERAL,Graduate,324038450.0,34949036.0,33430,462,33892,1.852731,2.733400,1829300
1989,2231,Andhra Pradesh,VISAKHAPATNAM,PEDADA. RAMANIKUMARI,0,INC,Hand,FEMALE,0.0,48,GENERAL,Post Graduate,117936000.0,0.0,14550,83,14633,0.799923,1.180156,1829300
1997,2240,Telangana,WARANGAL,BUNGA JYOTHI RAMANA,0,AHNP,CHAPATI ROLLER,FEMALE,1.0,45,SC,Graduate,1665000.0,300000.0,29182,1,29183,1.750871,2.748777,1666770
2000,2244,Maharashtra,WARDHA,Charulata Rao Tokas,0,INC,Hand,FEMALE,0.0,53,GENERAL,Graduate Professional,136123032.0,0.0,389243,1930,391173,22.438870,36.467669,1743283
2013,2257,Maharashtra,YAVATMAL-WASHIM,Vaishali Sudhakar Yede,0,PHJSP,Whistle,FEMALE,0.0,28,GENERAL,10th Pass,1168500.0,9000.0,20563,57,20620,1.076097,1.755157,1916185

In [102]:
tfemale1 = LOSFEMALE1['GENDER'].value_counts()
tfemale1

FEMALE    182
Name: GENDER, dtype: int64

In [103]:
WINAVGAGE = winners['AGE'].mean()
WINAVGAGE

54.44155844155844

In [104]:
LOSAVGAGE = losers['AGE'].mean()
LOSAVGAGE

51.48343475321163

In [105]:
RATIOAVGAGE = WINAVGAGE/LOSAVGAGE
RATIOAVGAGE

1.0574577765164022

In [107]:
varanasi = ls[ls['CONSTITUENCY'] == 'VARANASI']
varanasi

,Unnamed: 0,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL CASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL VOTES,POSTAL VOTES,TOTAL VOTES,OVER TOTAL ELECTORS IN CONSTITUENCY,OVER TOTAL VOTES POLLED IN CONSTITUENCY,TOTAL ELECTORS
1963,2202,Uttar Pradesh,VARANASI,NARENDRA MODI,1,BJP,Lotus,MALE,0.0,68,GENERAL,Post Graduate,25136119.0,0.0,673453,1211,674664,36.334946,63.597809,1856791
1964,2203,Uttar Pradesh,VARANASI,SHALINI YADAV,0,SP,Bicycle,FEMALE,0.0,47,GENERAL,Graduate,12600000.0,788131.0,194763,396,195159,10.510553,18.396839,1856791
1965,2204,Uttar Pradesh,VARANASI,AJAY RAI,0,INC,Hand,MALE,8.0,49,GENERAL,Graduate,13970015.0,0.0,152456,92,152548,8.215680,14.380074,1856791

In [108]:
gandhinagar = ls[ls['CONSTITUENCY'] == 'GANDHINAGAR']
gandhinagar

,Unnamed: 0,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL CASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL VOTES,POSTAL VOTES,TOTAL VOTES,OVER TOTAL ELECTORS IN CONSTITUENCY,OVER TOTAL VOTES POLLED IN CONSTITUENCY,TOTAL ELECTORS
660,746,Gujarat,GANDHINAGAR,AMIT SHAH,1,BJP,Lotus,MALE,4.0,54,GENERAL,12th Pass,403275307.0,4769587.0,889925,4699,894624,45.977843,69.575821,1945772
661,747,Gujarat,GANDHINAGAR,Dr. C. J. CHAVDA,0,INC,Hand,MALE,0.0,61,GENERAL,Graduate Professional,120468223.0,19223728.0,334082,3528,337610,17.350954,26.256274,1945772

In [109]:
gandhinagar['NAME']

660           AMIT SHAH
661    Dr. C. J. CHAVDA
Name: NAME, dtype: object

In [111]:
NM = varanasi[varanasi['NAME']=='NARENDRA MODI']
NM

,Unnamed: 0,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL CASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL VOTES,POSTAL VOTES,TOTAL VOTES,OVER TOTAL ELECTORS IN CONSTITUENCY,OVER TOTAL VOTES POLLED IN CONSTITUENCY,TOTAL ELECTORS
1963,2202,Uttar Pradesh,VARANASI,NARENDRA MODI,1,BJP,Lotus,MALE,0.0,68,GENERAL,Post Graduate,25136119.0,0.0,673453,1211,674664,36.334946,63.597809,1856791

In [112]:
NMn = NM['OVER TOTAL VOTES POLLED IN CONSTITUENCY']
NMn

1963    63.597809
Name: OVER TOTAL VOTES POLLED IN CONSTITUENCY, dtype: float64

In [113]:
SY = varanasi[varanasi['NAME']=='SHALINI YADAV']
SY

,Unnamed: 0,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL CASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL VOTES,POSTAL VOTES,TOTAL VOTES,OVER TOTAL ELECTORS IN CONSTITUENCY,OVER TOTAL VOTES POLLED IN CONSTITUENCY,TOTAL ELECTORS
1964,2203,Uttar Pradesh,VARANASI,SHALINI YADAV,0,SP,Bicycle,FEMALE,0.0,47,GENERAL,Graduate,12600000.0,788131.0,194763,396,195159,10.510553,18.396839,1856791

In [114]:
SYn = SY['OVER TOTAL VOTES POLLED IN CONSTITUENCY']
SYn

1964    18.396839
Name: OVER TOTAL VOTES POLLED IN CONSTITUENCY, dtype: float64

In [115]:
AR = varanasi[varanasi['NAME']=='AJAY RAI']
AR

,Unnamed: 0,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL CASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL VOTES,POSTAL VOTES,TOTAL VOTES,OVER TOTAL ELECTORS IN CONSTITUENCY,OVER TOTAL VOTES POLLED IN CONSTITUENCY,TOTAL ELECTORS
1965,2204,Uttar Pradesh,VARANASI,AJAY RAI,0,INC,Hand,MALE,8.0,49,GENERAL,Graduate,13970015.0,0.0,152456,92,152548,8.21568,14.380074,1856791

In [120]:
ARn = AR['OVER TOTAL VOTES POLLED IN CONSTITUENCY']
ARn

1965    14.380074
Name: OVER TOTAL VOTES POLLED IN CONSTITUENCY, dtype: float64

In [160]:
HIGH = max(ls['OVER TOTAL ELECTORS IN CONSTITUENCY'])
HIGH

51.95101197

In [161]:
CAN = ls[ls['OVER TOTAL ELECTORS IN CONSTITUENCY'] == 51.95101197]
CAN

,Unnamed: 0,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL CASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL VOTES,POSTAL VOTES,TOTAL VOTES,OVER TOTAL ELECTORS IN CONSTITUENCY,OVER TOTAL VOTES POLLED IN CONSTITUENCY,TOTAL ELECTORS
2003,2247,Kerala,WAYANAD,Rahul Gandhi,1,INC,Hand,MALE,5.0,48,GENERAL,Post Graduate,158877063.0,7201904.0,705034,1333,706367,51.951012,64.640694,1359679

In [158]:
sum1 = varanasi['OVER TOTAL VOTES POLLED IN CONSTITUENCY'].sum()
sum1

96.37472203

In [159]:
over1 = (NM['OVER TOTAL VOTES POLLED IN CONSTITUENCY'] / sum1) * 100
over1

1963    65.990135
Name: OVER TOTAL VOTES POLLED IN CONSTITUENCY, dtype: float64